.u-block-2a31-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + 541px);
  top: auto;
  right: auto;
  bottom: 105px;
}

.u-block-2a31-3 {
  position: absolute;
  left: 0;
}

.u-block-2a31-4 {
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-block-2a31-5 {
    left: calc(((100% - 940px) / 2)  + 441px);
  }
}

@media (max-width: 991px) {
  .u-block-2a31-5 {
    left: calc(((100% - 720px) / 2)  + 331px);
  }
}

@media (max-width: 767px) {
  .u-block-2a31-5 {
    left: calc(((100% - 540px) / 2)  + 241px);
  }
}

@media (max-width: 575px) {
  .u-block-2a31-5 {
    left: calc(((100% - 340px) / 2)  + 141px);
  }
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 701px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin-top: 40px;
  margin-bottom: 2px;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  margin: 122px 0 0;
}

.u-section-1-1 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 659px;
  background-image: url("images/RT-cyber-attack-illustration-jt-170513_16x9_1600.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 543px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 416px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 624px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 393px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1153px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 48px;
  margin-bottom: 48px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 752px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  margin: 27px 30px 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 32px 30px 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 1058px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 15px;
}

.u-section-2 .u-image-1 {
  height: 392px;
  width: 510px;
  margin: 0 0 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 769px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 769px;
  }

  .u-section-2 .u-image-1 {
    height: 338px;
    width: 439px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 966px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 966px;
  }

  .u-section-2 .u-image-1 {
    height: 253px;
    width: 329px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 845px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1052px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-2 .u-image-1 {
    height: 246px;
    width: 320px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1019px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 752px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  text-transform: none;
  font-weight: normal;
  margin: 27px 30px 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1rem;
  margin: 33px 30px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 931px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  height: 330px;
  width: 578px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 889px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 769px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 769px;
  }

  .u-section-3 .u-image-1 {
    height: 268px;
    width: 470px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -1193px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 966px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 966px;
  }

  .u-section-3 .u-image-1 {
    height: 205px;
    width: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1666px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -577px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 689px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 845px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1423px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 1052px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-3 .u-image-1 {
    height: 194px;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 618px;
}

.u-section-4 .u-video-1 {
  height: 360px;
  width: 640px;
  margin: 39px auto 0;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.u-section-4 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-4 .u-text-2 {
  width: 680px;
  margin: 20px auto 39px;
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 549px;
  }

  .u-section-4 .u-video-1 {
    height: 300px;
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-4 .u-video-1 {
    height: 190px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .embed-responsive-1 {
    left: -39%;
    top: -39%;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1ecb952244e3f16d60b05d407b886dda33b644af6a7eb7b6c41a29a805d2f4aa606e550552958c16a7068bd1eee44dce4f4e645c57cb75818dc88e_1280.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 30px 314px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 114px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 420px;
}

.u-section-6 .u-text-1 {
  margin: 30px 0;
}